# Dependencies
node_modules/

# Logs
*.log

# Build output
dist/

# Astro generated types
.astro/

# Playwright
test-results/
playwright-report/

# Environment
.env*

# Yarn
.pnp.*
.yarn/cache
.yarn/unplugged
.yarn/install-state.gz

# OS
.DS_Store

# Editor
.eslintcache

# Archives
*.tgz
.netlify